/*...........................................
                    FONTS
...........................................*/
@font-face {
    font-family: 'kohinoor_banglalight';
    src: url('../fonts/light/kohinoorbangla-light-webfont.eot');
    src: url('../fonts/light/kohinoorbangla-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/light/kohinoorbangla-light-webfont.woff2') format('woff2'),
         url('../fonts/light/kohinoorbangla-light-webfont.woff') format('woff'),
         url('../fonts/light/kohinoorbangla-light-webfont.ttf') format('truetype'),
         url('../fonts/light/kohinoorbangla-light-webfont.svg#kohinoor_banglalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kohinoor_banglabold';
    src: url('../fonts/bold/kohinoorbangla-bold-webfont.eot');
    src: url('../fonts/bold/kohinoorbangla-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/kohinoorbangla-bold-webfont.woff2') format('woff2'),
         url('../fonts/bold/kohinoorbangla-bold-webfont.woff') format('woff'),
         url('../fonts/bold/kohinoorbangla-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/kohinoorbangla-bold-webfont.svg#kohinoor_banglabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*........................................
            Responsive font sizes
........................................*/
@mixin font-size($fs-map) {

    @each $fs-breakpoint,
    $fs-font-size in $fs-map {
        @if $fs-breakpoint==null {
            font-size: $fs-font-size !important;
        }

        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size !important;
            }
        }
    }
}

$bigTitle: ( null: 28px, 480px: 28px, 576px: 28px, 768px: 30px, 992px: 35px, 1200px: 55px, 1400px: 70px);
$bigText: ( null: 22px, 480px: 22px, 576px: 22px, 768px: 24px, 992px: 26px, 1200px: 28px, 1400px: 32px);
$mediumText: ( null: 18px, 480px: 18px, 576px: 18px, 768px: 18px, 992px: 20px, 1200px: 20px, 1400px: 20px);
$smallText: ( null: 14px, 480px: 14px, 576px: 14px, 768px: 16px, 992px: 18px, 1200px: 20px, 1400px: 20px);

/*..........................................
                GENERAL STYLE
...........................................*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'kohinoor_banglalight';
}

main{
    position: relative;
    z-index: 2;
    margin-left: 160px; 

    @media only screen and (max-width: 991px) {
        margin-top: 95px;
        margin-left: 0;   
    }
}

label{
    display: block;
}

button, input[type=submit]{
    all: unset;
    cursor: pointer;
}

p{
    &:not(:last-child){
        margin-bottom: 20px;
    }
}

body{
    &.home{

        h1, h2, h3, h4, h5, h6, p{
            color: #ffffff;
        }
    }
}

.big-text{
    p{
        @include font-size($bigText);
        font-family: 'kohinoor_banglabold';
    }
}

.big-title{
    h1, h2, h3, h4, h5, h6{
        @include font-size($bigTitle);
        line-height: 1.2;
        font-family: 'kohinoor_banglabold';
    }
}

.container{
    width: 100%;
    max-width: 1030px;
    padding: 110px 36px;
    margin: 0 auto;
}

.container-small{
    width: 100%;
    max-width: 800px;
    padding: 110px 36px;
    margin: 0 auto;
}

.container-form{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.w-100{
    width: 100%
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #27073A33;
    }
}

.main-logo-small{
    width: 326px;
}

/*....................................
                SPACING
.....................................*/
.mb{
    margin-bottom: 220px;
}

.mb-big{
    margin-bottom: 80px
}

.mb-normal{
    margin-bottom: 50px;
}

.mb-form-input{
    margin-bottom: 40px;
}

/*.......................................
                ALIGNMENT
........................................*/

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center
}


.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

/*....................................
                MENU
.....................................*/
.menu-panel{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    text-align: center;

    .logo{
        position: absolute;
        top: 30px;
    }

    .menu-btn{
        
        position: absolute;
        top: 50%;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        transform: translateY(-50%);

        span{
            color: #000000;
            font-family: 'kohinoor_banglabold';
            font-size: 18px;
            transition: all .3s ease-in-out;

            &:nth-child(1){
                width: 25px;
                height: 3px;
                background-color: #000000;
                transition: all .3s ease-in-out;
            }

            
            &:nth-child(2){
                margin-bottom: 1px;
            }

          

            &:nth-child(3){
                width: 25px;
                height: 3px;
                background-color: #000000;
                transition: all .3s ease-in-out;
            }
        }

        &:hover{
            span{
                color: #ffffff;

                &:nth-child(1){
                    width: 25px;
                    height: 3px;
                    background-color: #ffffff;
                }
    
              
    
                &:nth-child(3){
                    width: 25px;
                    height: 3px;
                    background-color: #ffffff;
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        width: 100%;
        height: 95px;

        .logo{
            position: absolute;
            left: 36px;
            top: 50%;
            transform: translateY(-50%);
        }

        .menu-btn{
            position: absolute;
            right: 36px;
            top: 50%;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            transform: translateY(-50%);

            span{
                color: #ffffff;
                font-size: 16px;
               
    
                &:nth-child(1){
                    width: 20px;
                    height: 2px;
                    background-color: #ffffff;
                }
    
                &:nth-child(2){
                    margin-bottom: 1px;
                }
    
                &:nth-child(3){
                    width: 20px;
                    height: 2px;
                    background-color: #ffffff;
                   
                }
            }

            &:hover{
                span{
                    color: #ffffff;
                    font-size: 16px;
                   
        
                    &:nth-child(1){
                        width: 20px;
                        height: 2px;
                        background-color: #ffffff;
                    }
        
        
                    &:nth-child(3){
                        width: 20px;
                        height: 2px;
                        background-color: #ffffff;
                       
                    }
                }
            }
        }
    }
}

/*.....................................
                HOMEPAGE
......................................*/

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 955px;

    @media only screen and (max-width: 1400px) {
        min-height: 643px;
    }

    @media only screen and (max-width: 991px) {
        height: calc(100vh - 95px);
        min-height: 700px;
    }

    .content{
        position: relative;
        padding: 194px 99px;

        .logo{
            width: 100%;
        }

        @media only screen and (max-width: 1400px) {
            padding: 100px 50px;

            .logo{
                width: 80%;
            }
        }
        // @media only screen and (max-height: 850px) {
        //     padding: 150px 0px;
        //     .logo{
        //         width: 70%;
        //      }
        // }

        @media only screen and (max-width: 991px) {
            max-width: 340px;
            padding: 30px 40px 270px 40px;

            .logo{
                width: 100%;
            }
        }

        .starsense{
            position: absolute;
            bottom: 24px;
        }
    }

    .scroll{
        position: absolute;
        bottom: 10px;
    }
}


/*.....................................
            SUBSCRIBE FORM
......................................*/
form{
    label{
        color: #ffffff;
        @include font-size($mediumText);
        font-family: 'kohinoor_banglabold';
        margin-bottom: 10px;
    }
    
    input[type=text], input[type=email]{
        width: 100%;
        height: 67px;
        border-radius: 7px;
        border: none;
        padding: 20px;
        font-size: 18px;
        color: #27073A;
    
        &::placeholder{
            font-size: 18px;
            color: #27073A;
            opacity: .6;
        }
    }

    input[type=checkbox]{
        width: 24px;
        height: 24px;
        background: #ffffff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        border-radius: 4px;
        position: relative;
        margin-right: 15px;
        cursor: pointer;
        &:checked{
            -webkit-appearance: auto;
            -moz-appearance: auto;
            appearance: auto;
        }
    }

    h2{
        color: #ffffff;
        @include font-size($mediumText);
        font-family: 'kohinoor_banglabold';
        font-weight: normal;
        margin-bottom: 20px;
    }

    .checkbox{
        @include font-size($smallText);
        font-family: 'kohinoor_banglalight';
        margin-bottom: 0;
        &:not(:last-child){
            margin-right: 60px;

            @media only screen and (max-width: 768px) {
                margin-right: 30px;
            }
        }
    }

    .unsubscribe{
        color: #ffffff;
    }

    .submit{
        text-align: center;
        display: block;
        color: #ffffff;
        font-weight: 18px;
        padding: 22px 60px;
        font-family: 'kohinoor_banglabold';
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        border-radius: 7px;
        box-sizing: border-box;
    }
}


/*.....................................
                FOOTER
......................................*/
footer{
    position: relative;
    z-index: 2;
    padding: 36px;
    margin-left: 160px;
    border-top: 1px solid #ffffff6b;
    @media only screen and (max-width: 991px) {
        margin-left: 0;   
    }

    ul{
        list-style: none;

        li{
            a{
                font-size: 14px;
                color: #ffffff;
                text-decoration: none;
                margin: 0 15px;
            }
        }
    }
}